.body1 {
  background-color: rgb(112, 112, 112);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

img {
  width: 170px;
  height: 60px;
  border: 5px solid rgb(255, 255, 255);
}
.center {
  text-align: center;
}

h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.5;
  font-size: 40px;
}

h2 {
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.4;
  font-size: 30px;
}
h4 {
  color: blue;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 0.1;
  font-size: 11px;
}

nav {
  display: flex;
  flex-direction: row;
}
nav p {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
ul {
  width: 100%;
}
.container-fluid {
  display: flex;
  flex-direction: row;
}
.navbar-toggler {
  margin: 0px;
}
.container-icon {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.btn {
  background-color: white;
  border-color: black;
  margin: 20px auto;
  background-color: blue;
  color: white;
  font-weight: 700;
  width: 10rem;
}

.bi-whatsapp {
  color: rgb(43, 255, 0);
}

.bi-instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  color: white;
}

h5 {
  font-size: 50px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: orange;
  margin-left: 100px;
  margin-bottom: 35px;
}

.foto h5 {
  margin-top: 0px;
  color: orange;
}

.empresa {
  color: orange;
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

.alinhamento {
  margin-left: 150px;
  width: 59%;
  background-color: black;
  color: orange;
  font-size: 25px;
}

.logo2 {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  margin: 0px;
}

.foto {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100vw;
  background-color: black;
}

.foto img {
  height: 60%;
  width: 60%;
  border: 0px;
}

.alinhamento2 {
  margin-left: 150px;
  width: 30%;
  background-color: black;
  color: orange;
  font-size: 20px;
}

.text1 {
  margin: 0px 4%;
  text-align: center;
  font-size: 20px;
  width: 70%;
  margin: 20px auto;
}

h3 {
  margin: 0px 4%;
  font-size: 30px;
  text-align: center;
}

.cliente {
  margin: 20px auto;
  text-align: center;
  font-size: 60px;
  color: rgb(245, 245, 245);
}
.coliseu {
  height: 250px;
  width: 250px;
  border: rgb(112, 112, 112);
  margin: 2px;
}

.pack1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frente1 {
  width: 100%;
  height: 450px;
  border: none;
}
@media (max-width: 600px) {
  .frente1 {
    height: 300px;
  }
  .text1 {
    padding: 2rem;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .frente1 {
    height: 200px;
  }
}

@media (max-width: 410px) {
  h10 {
    font-size: 35px;
  }
}

@media (max-width: 550px) {
  .foto {
    flex-direction: column;
    align-items: center;
  }
  .foto .empresa {
    order: 1;
  }
  .foto img {
    order: 2;
  }
  .empresa h5 {
    text-align: center;
    margin: 0px;
  }
  .empresa .alinhamento {
    margin: 0px auto;
    text-align: center;
    width: 400px;
  }
  .alinhamento p {
    text-align: centers;
  }
}

.meubutao {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
